.HiddenDetail_bg{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.HiddenDetail_wrapper{
    background-color: #fff;
    border-radius: 16px;
    width: 510px;
    padding: 46px 34px;
}