.HiddenFormWrap{
    margin-bottom: 16px;
    position: relative;
}
.HiddenFormName{
    margin-bottom: 8px;
    font-weight: 600;
}
.HiddenFormInput{
    width: calc(100% - 40px);
    font-size: 14px;
    line-height: 14px;
    padding: 9px 20px 9px 20px;
    border: 1px solid #d9e0e4;
    border-radius: 100px;
}
.HiddenFormSelect{
    width: calc(100%);
    font-size: 14px;
    line-height: 14px;
    padding: 9px 20px 9px 20px;
    border: 1px solid #d9e0e4;
    border-radius: 100px;
}
.HiddenFormWrap-info{
    display: flex;
    justify-content: space-between;
}
.HiddenFormCurrentValue{
    color:#579d2d ;
    font-size: 18px;
    font-weight: 600;
}
.width_range{
    padding-bottom: 110px;
    border-radius: 16px;
}
.HiddenRequestBtn-Wrap{
    padding: 40px 32px;
    position: relative;
}
.HiddenRequestBtn-Close{
    position: absolute;
    right: 33%;
    padding: 10px 30px 12px;
    border-radius: 100px;
    font-size: 16px;
    line-height: 17px;
    font-weight: 600;
    color: black;
    border: 1px solid #579d2d;
    background-color: white;
    cursor: pointer;
}
.HiddenRequestBtn-Submit{
    position: absolute;
    right: 32px;
    padding: 10px 30px 12px;
    border-radius: 100px;
    font-size: 16px;
    line-height: 17px;
    font-weight: 600;
    color: white;
    border: 1px solid #579d2d;
    background-color: rgb(87, 157, 45);
    cursor: pointer;
}
.HiddenRequestBtn-Submit:hover{
    box-shadow: 0px 0px 3px rgb(87, 157, 45);
    filter: blur(.1px);
}
.HiddenRequestBtn-Close:hover{
    box-shadow: 0px 0px 3px rgb(87, 157, 45);
    filter: blur(.1px);

}